<h1>Burgers</h1>

<ul class= "list">
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
        {{/unless}}
    {{/each}}
</ul>

<p>Add a burger:</p>
<form>
	<textarea type="text" name="name" id="burger-name"></textarea>
	<button type="submit" id="submit">Submit</button>
</form>

<ul id= "right-side-list">
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers/burger-block}}
        {{/if}}
    {{/each}}
</ul>