<h1>Burgers</h1>

<ul>
    {{#each burgers}}
    <li>
        <p>{{this.burger_name}}</p>
        <button id= {{this.id}}>Devour</button>
    </li>
    {{/each}}
</ul>

<p>Add a burger:</p>
<form>
	<textarea type="text" name="name" id="burger-name"></textarea>
	<button type="submit" id="submit">Submit</button>
</form>

{{!-- <ul id= "right-side-list">
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
        {{/if}}
    {{/each}}
</ul> --}}